.mobile{
  display: none;
}
@media all and (max-width: 1023px){
  header nav ul, header .user-main{
    display: none;
  }
  .menu ul, .menu .user-main, .menu-toggle{
    display: block;
  }
  .blocks{
    flex-direction: column;
    .block{
      display: flex;
      div{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .tasks img{
    margin-left: 50px !important;
    width: 350px;
  }
}

@media all and (max-width: 767px){
  .tablet{
    display: none;
  }
  .mobile{
    display: block;
  }
  .blocks{
    .block{
      flex-direction: column;
      margin-right: 0 !important;
      div{
        text-align: center;
      }
    }
    img{
      padding: 0;
    }
  }
  .tasks .content{
    flex-direction: column;
    div{
      order: 1;
      text-align: center;
    }
    p{
      max-width: none;
    }
    img{
      width: 300px;
      margin: auto !important;
    }
  }
  .users{
    flex-direction: column;
    align-items: center;
  }
  .about .text{
    flex-direction: column;
  }
}
